@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

:root{
  --purple: #A729F5;
  --dark-navy: #313E51;
  --navy: #3B4D66;
  --grey-navy: #626C7F;
  --light-bluish: #ABC1E1;
  --light-gray: #F4F6FA;
  --pure-white: #fff;
  --green: #26D782;
  --red: #EE5454;
}

body[data-theme="light"]{
  --bg-image-mobile: url('../images/bg-mobile-light.svg');
  --bg-image-desktop: url('../images/bg-desktop-light.svg');
  --bg-color: var(--light-gray);
  --fg-color: var(--pure-white);
  --text-color: var(--dark-navy);
  --small-text-color: var(--grey-navy);
  --icon-color: var(--grey-navy);
  --error-color: var(--red)

}

body[data-theme="dark"]{
  --bg-image-mobile: url('../images/bg-mobile-dark.svg');
  --bg-image-desktop: url('../images/bg-desktop-dark.svg');
  --bg-color: var(--dark-navy);
  --fg-color: var(--navy);
  --text-color: var(--pure-white);
  --small-text-color: var(--light-bluish);
  --icon-color: var(--pure-white);
  --error-color: var(--pure-white);
}
.dark-mode-image,
.light-mode-image {
  display: none;
  position: relative;
  z-index: -1;
}


body[data-theme="dark"] .dark-mode-image,
body[data-theme="light"] .light-mode-image{
  display: block;
} 

/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
* {
  margin: 0;
}

body {
  -webkit-font-smoothing: antialiased;
  font-family: "Rubik", serif;
  background: var(--bg-image-mobile);
  background-repeat: no-repeat;
  background-color: var(--bg-color);
}

/* 5. Improve media defaults */
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

/* 6. Inherit fonts for form controls */
input, button, textarea, select {
  font: inherit;
}

/* 7. Avoid text overflows */
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

/* 8. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

/*
  9. Create a root stacking context
*/
#root, #__next {
  isolation: isolate;
}


[data-theme="light"]{
  --bg-color: var(--light-gray);
}

[data-theme="dark"]{
  --bg-color: var(--dark-navy);
}


.theme-btn-container{
  display: flex;
  align-items: center;
  gap: 16px;
  i{
    color: #FFFFFF;
  }
}

#theme-btn{
  display: none;
}

#theme-label{
  width: 32px;
  height: 20px;
  padding: 4px;
  border-radius: 999px;
  background-color: #FFFFFF;
  display: inline-block;
  position: relative;
}

#theme-label::after{
  content: "";
  display: inline-block;
  width: 12px;
  height: 12px;
  background-color: #5964E0;
  border-radius: 50%;
  position: absolute;
  transition: transform .3s;
}

#theme-label:has(input:checked)::after{
  transform: translateX(12px);
}/* dark mode switch button kodu */

.container .mod-container{


  display: flex;


  padding: 32px 24px;
  justify-content: space-between;
  align-items: center;
}

.head-container{
  height: 136px;
  background: url("/assets/images/triangles.png");
  background-repeat: no-repeat;
  width: 100%;
  background-size: cover;
}

.search-container {
  display: flex;
  align-items: center;
  margin-left: 24px;
  margin-right: 24px;
  background-color: #FFFFFF;
  justify-content: space-between;
  height: 80px;
  border-radius: 5px;
  margin-top: -40px;
}

.search-container input{
  position: relative;
  border: none;
  margin-left: 24px;
  width: 60%;
  height: 40px;
}

input:focus {
  outline: 0;
}

.icons-filter-search{
  display: flex;
}

.icons-filter-search {
  margin-right: 16px;
  gap: 16px;
}

.search-icon{
  background-color: #5964e0;
  padding: 10px;
  border-radius: 5px;
  color: #FFFFFF;
}

.filter-icon{
  padding: 10px;
  border-radius: 5px;
}